<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>

<title>Insert title here</title>
</head>
<body>


<p>Welcome!! In order to continue please reset the default password</p>
<form action="#" th:action="@{/quickregister/updatePassword}" method="post" >

    <input id="key.customerId" name="key.customerId" type="hidden" th:value="${loginDetails.key.customerId}"/>
     <input id="key.customerType" name="key.customerType" type="hidden" th:value="${loginDetails.key.customerType}"/>
    Enter new Password:<input id="password" name="password" type="text"/>
    
    <input id="requestedBy" name="requestedBy" type="hidden" value="CUST_ONLINE"/>
    <input type="submit" value="Submit" />
    </form>

</body>
</html>