<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Getting Started: Handing Form Submission</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>
	<h1>Result</h1>
	<p th:if="${customerQuickRegisterDTO.customerId} !=null" th:text="${customerQuickRegisterDTO.customerId}"/>
	
   <!--  <p th:text="'Status: ' + ${message}" /> -->
    
    
    <form th:if="${!customerQuickRegisterDTO.isMobileVerified}" action="/customer/quickregister/resendMobilePin" method="post" >
    <input id="customerId" name="customerId" type="hidden" th:value="${customerQuickRegisterDTO.customerId}"/>
    <input id="mobile" name="mobile" type="hidden" th:value="${customerQuickRegisterDTO.mobile}"/>
    <input type="submit" value="Resend Mobile Pin" />       
    </form>
    
    <form th:if="${!customerQuickRegisterDTO.isEmailVerified}" action="/customer/quickregister/resendEmailHash" method="post" >
    <input id="customerId" name="customerId" type="hidden" th:value="${customerQuickRegisterDTO.customerId}"/>
    <input id="email" name="email" type="hidden" th:value="${customerQuickRegisterDTO.email}"/>
    <input type="submit" value="Resend Verication Email" />
    </form>
    
    <form th:if="${customerQuickRegisterDTO.isEmailVerified || customerQuickRegisterDTO.isMobileVerified}" action="/customer/quickregister/resetPassword" method="post">
    <input id="customerId" name="customerId" type="hidden" th:value="${customerQuickRegisterDTO.customerId}"/>
    <input type="submit" value="Reset Password"/> 
    
    </form>
    
    
    
</body>
</html>