<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>

<title>Insert title here</title>
</head>
<body>

<p th:value="${loginDetails.key}"></p>

<p th:value="${loginDetails.key.customerId}"></p>

<form action="/quickregister/updatePassword" method="post" >
<!-- 
    <input id="key" name="key" type="hidden" th:value="${loginDetails.key}"/>
     <input id="loginDetails.key.customerType" name="loginDetails.key.customerType" type="hidden" th:value="${loginDetails.key.customerType}"/>
   -->    
    <input id="key.customerId" name="key.customerId" type="hidden" th:value="${loginDetails.key.customerId}"/>
     <input id="key.customerType" name="key.customerType" type="hidden" th:value="${loginDetails.key.customerType}"/>
    Enter new Password:<input id="password" name="password" type="text"/>
    
    <input type="submit" value="Submit" />
    </form>

</body>
</html>