<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8"></meta>
<title>Insert title here</title>
<script src="http://code.jquery.com/jquery-1.9.1.js"></script>
<script type="text/javascript" src="../script.js"></script> 
</head>
<body>

 <table>
 				<tr>
 					<td></td>
 					<td><form  action="/customer/editForm" method="post">
               				<input id="entityId" name="entityId" type="hidden" th:value="${customerDetails.customerId}"/>
               				<input type="submit" value="Edit CustomerDetails" />
               			</form>
               		</td>
 				</tr>
 
                <tr>
                    <td>FirstName:</td>	
                    <td ><p th:text="${customerDetails.firstName}"/> </td>
               
                </tr>
                <tr>
                    <td>LastName:</td>
                    <td><p th:text="${customerDetails.lastName}"/></td>
               
                </tr>
                
                 <tr>
                    <td>Date Of Birth:</td>
                    <td><p th:text="${customerDetails.dateOfBirth}"/></td>
               
                </tr>
                
                <tr>
                    <td>Mobile:</td>
                    <td><p th:text="${customerDetails.mobile}"/>
                     <p th:if="${mobileVerificationDetailsPrimary.mobile != customerDetails.mobile and mobileVerificationDetailsPrimary.mobile!=null}" th:text="${mobileVerificationDetailsPrimary.mobile}"/>  
                    </td>
               		<td><form id="sendSMS" th:if="${customerDetails.isMobileVerified==false or mobileVerificationDetailsPrimary.mobile != customerDetails.mobile and mobileVerificationDetailsPrimary.mobile!=null}"  action="/customer/sendMobileVerificationDetails" method="post">
               				<input id="customerId" name="customerId" type="hidden" th:value="${customerDetails.customerId}"/>
    						<input id="customerType" name="customerType" type="hidden" th:value="1"/>
    						<input id="mobileType" name="mobileType" type="hidden" th:value="1"/>
        					<input type="submit" value="Send Verification SMS" />
               		</form>
               		
         			<div id="smsSentStatus"></div>
         			      		
               		</td>
               		
               		<td><form id ="verifyMobile" th:if="${customerDetails.isMobileVerified==false or mobileVerificationDetailsPrimary.mobile != customerDetails.mobile and mobileVerificationDetailsPrimary.mobile!=null}" action="/customer/verifyMobileDetails" method="post">
               				<input id="customerId" name="entityId" type="hidden" th:value="${customerDetails.customerId}"/>
    						<input id="customerType" name="entityType" type="hidden" th:value="1"/>
    						<input id="mobileType" name="mobileType" type="hidden" th:value="1"/>
    						<input id="mobilePin" name="mobilePin" type="text"/>
        					<input type="submit" value="VerifyMobile" />
               		</form>
               		
               		<div id="verifyMobileStatus"></div>
               		
               		</td>
               		
               		
                </tr>
                <tr>
                    <td>Email:</td>
                    <td><p th:text="${customerDetails.email}"/>
                     <p th:if="${customerDetails.email != emailVerificationDetails.email}" th:text="${emailVerificationDetails.email}"/> </td>
               		<td><form id="sendEmail" th:if="${customerDetails.isEmailVerified==false or customerDetails.email != emailVerificationDetails.email and emailVerificationDetails.email!=null}" action="/customer/sendEmailVerificationDetails" method="post">
               				<input id="customerId" name="customerId" type="hidden" th:value="${customerDetails.customerId}"/>
    						<input id="customerType" name="customerType" type="hidden" th:value="1"/>
    						<input id="emailType" name="emailType" type="hidden" th:value="1"/>
        					<input type="submit" value="Send Verification Email" />
               		</form>
               		<p th:if="${emailVerificationStatus != null}" th:text="${emailVerificationStatus}"/>
               		
               		<div id="emailSentStatus"></div>
               		
               		</td>
               		
               		
               		
               		
                </tr>
    
               <tr></tr>
               <tr></tr>
               <tr></tr>
                <tr>
                    <td>Home Address AddressLine:</td>
                    <td><p th:if="${customerDetails.homeAddressId!=null}" th:text="${customerDetails.homeAddressId.addressLine}"/>
                    	
                    </td>
               
                </tr> 
               
               <tr>
                    <td>Home Address City:</td>
                    <td><p th:if="${customerDetails.homeAddressId!=null}" th:text="${customerDetails.homeAddressId.city}"/>
                    	
                    </td>
               
                </tr> 
                
                <tr>
                    <td>Home Address District:</td>
                    <td><p th:if="${customerDetails.homeAddressId!=null}" th:text="${customerDetails.homeAddressId.district}"/>
                    </td>
               
                </tr> 
               
               <tr>
                    <td>Home Address State:</td>
                    <td><p th:if="${customerDetails.homeAddressId!=null}" th:text="${customerDetails.homeAddressId.state}"/>
                    	
                    </td>
               
                </tr> 
               
               
               <tr>
                    <td>Home Address Pin code:</td>
                    <td><p th:if="${customerDetails.homeAddressId!=null}" th:text="${customerDetails.homeAddressId.pincode}"/>
                    	
                    </td>
               
                </tr>
                
                <tr></tr>
                <tr></tr>
                <tr></tr>
                <tr>
                    <td>Language:</td>
                    <td> <p th:if="${customerDetails.language!=null}" th:text="${customerDetails.firstName}"/>
                    
                    </td>
               </tr>
                
                <tr>
                    <td>Business Domain:</td>
                    <td> <p th:if="${customerDetails.businessDomain!=null}" th:text="${customerDetails.businessDomain}"/>
                    
                    </td>
               </tr>
               
               
               <tr></tr>
               <tr></tr>
               <tr></tr>
               
               <tr>
                    <td>Name Of Firm:</td>
                    <td> <p th:if="${customerDetails.nameOfFirm!=null}" th:text="${customerDetails.nameOfFirm}"/>
                    
                    </td>
               </tr>
                
                         
                          
                 <tr>
                    <td>Firm Address AddressLine:</td>
                    <td><p th:if="${customerDetails.firmAddressId!=null}" th:text="${customerDetails.firmAddressId.addressLine}"/>
                    	
                    </td>
               
                </tr> 
               
               <tr>
                    <td>Firm Address City:</td>
                    <td><p th:if="${customerDetails.firmAddressId!=null}" th:text="${customerDetails.firmAddressId.city}"/>
                    	
                    </td>
               
                </tr> 
                
                <tr>
                    <td>Firm Address District:</td>
                    <td><p th:if="${customerDetails.firmAddressId!=null}" th:text="${customerDetails.firmAddressId.district}"/>
                    	
                    </td>
               
                </tr> 
               
               <tr>
                    <td>Firm Address State:</td>
                    <td><p th:if="${customerDetails.firmAddressId!=null}" th:text="${customerDetails.firmAddressId.state}"/>
                    	
                    </td>
               
                </tr> 
               
               
               <tr>
                    <td>Firm Address Pin code:</td>
                    <td><p th:if="${customerDetails.firmAddressId!=null}" th:text="${customerDetails.firmAddressId.pincode}"/>
                    	
                    </td>
               
                </tr>
               
               <tr></tr>
               <tr></tr>
               <tr></tr>
               
                
                <tr>
                    <td>Secondary Mobile:</td>
                    <td> <p th:if="${customerDetails.secondaryMobile!=null}" th:text="${customerDetails.secondaryMobile}"/>
                    <p th:if="${customerDetails.secondaryMobile!=mobileVerificationDetailsSeconadry.mobile and mobileVerificationDetailsSeconadry.mobile!=null}" th:text="${mobileVerificationDetailsSeconadry.mobile}"/> 
                    </td>
                    
                    <td><form id="sendSMSSec" th:if="${(customerDetails.isSecondaryMobileVerified==false or customerDetails.secondaryMobile!=mobileVerificationDetailsSeconadry.mobile) and mobileVerificationDetailsSeconadry.mobile!=null} " action="/customer/sendMobileVerificationDetails" method="post">
               				<input id="customerId" name="customerId" type="hidden" th:value="${customerDetails.customerId}"/>
    						<input id="customerType" name="customerType" type="hidden" th:value="1"/>
    						<input id="mobileType" name="mobileType" type="hidden" th:value="2"/>
        					<input type="submit" value="Send Verification SMS" />
               		</form>
               		
               		<div id="smsSentStatusSec"></div>
               		
               		
               		</td>
               		
               		<td><form id="verifyMobileSec" th:if="${(customerDetails.isSecondaryMobileVerified==false or customerDetails.secondaryMobile!=mobileVerificationDetailsSeconadry.mobile) and mobileVerificationDetailsSeconadry.mobile!=null} " action="/customer/verifyMobileDetails" method="post">
               				<input id="customerId" name="entityId" type="hidden" th:value="${customerDetails.customerId}"/>
    						<input id="customerType" name="entityType" type="hidden" th:value="1"/>
    						<input id="mobileType" name="mobileType" type="hidden" th:value="2"/>
    						<input id="mobilePin" name="mobilePin" type="text"/>
        					<input type="submit" value="VerifyMobile" />
               		</form>
               		
               		<div id="verifyMobileStatusSec"></div>
               		</td>
                    
                    
               </tr> 
                
                <tr>
                    <td>Secondary Email:</td>
                    <td> <p th:if="${customerDetails.secondaryEmail!=null}" th:text="${customerDetails.secondaryEmail}"/>
                    
                    </td>
               </tr>
       
                <tr>
                    <!-- <td><p th:if="${documentDetails!=null and documentDetails.key !=null and documentDetails.key.documentName != null }" th:text="${documentDetails.key.documentName}"/></td>
                    <td> 
						<object width="400" height="400" data="/document/1/1/DrivingLicense">
						</object>
                    
                    </td>
                     -->
                    <td>
                    	<p th:if="${documentDetails!=null}" th:text="${documentDetails.verificationStatus}"/>
                    </td>
                    
                    <td>
                    	<p th:if="${documentDetails!=null}" th:text="${documentDetails.verificationRemark}"/>
                    </td>
                    
                    <td>
                    	<form th:if="${documentDetails!=null and documentDetails.key!=null}" method="POST" action="/document/updateDocument" enctype="multipart/form-data">
        					File to upload: <input type="file" name="file"></input><br /> 
        					<input id="customerId" name="customerId" type="hidden" th:value="${customerDetails.customerId}"/>
        					<input id="customerType" name="customerType" type="hidden" value="1"/>
        					<input id="documentName" type="hidden" name="documentName" th:value="${documentDetails.key.documentName}"></input><br /> <br /> 
        					<input type="submit" value="Upload"></input> Press here to upload the file!
    					</form>
                    </td>
                    
                    <td>
                    	<form th:if="${documentDetails!=null and documentDetails.key!=null}" method="POST" action="/document/updateVerificationStatusRemark" >
        					<input id="customerId" name="customerId" type="hidden" th:value="${customerDetails.customerId}"/>
        					<input id="customerType" name="customerType" type="hidden" value="1"/>
        					<input id="documentName" type="hidden" name="documentName" th:value="${documentDetails.key.documentName}"></input><br /> <br />
        					New Verification Status:<input id="verificationStatus" name="verificationStatus" type="number" />
        					New Verification Remark:<input id="verificationRemark" name="verificationRemark" type="test" /> 
        					<input type="submit" value="Update"></input> 
    					</form>
                    </td>
               </tr>
                
                               
         </table>
          <!-- 
<script type="text/javascript">

/* attach a submit handler to the form */

</script>         
 -->
</body>
</html>